* {
  /* display: flex;
  flex: 1 1 0; */
  display: inline-block;
}

title {
  display: none !important;
}

div {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-style: inherit;
  border-radius: 5px;
  outline: 10px inset rgba(0, 100, 0, 0.5);
}

p {
  color: #020024;
  padding: 1em;
  margin: 1em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80ch;
  overflow: auto;
  text-overflow: ellipsis;
  margin: 1em auto;
  background: #bac6ff;
}

img {
  outline: 10px dotted #2f60d9;
}

h1 {
  border: 5px solid #333b4e8c;
  color: #45baf0;
}

blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

cite {
  font-size: 1.5rem;
  font-weight: bold;
}

.bigbold {
  font-weight: bold;
  font-size: 1.5rem;
}

em {
  color: rgb(73, 30, 28);
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex: 1 1 0;
  outline: 10px dotted #234087;
}

b {
  color: rgb(56, 38, 36);
  font-weight: 700;
}

/* Incase cascading changes need revert .container {
  display: flex;
  flex: 1 1 auto;
  outline: 10px inset rgba(0, 100, 0, 0.5);
} */
